.thankyou {
  position: fixed;
  inset: 0;

      background: rgb(55 55 55 / 92%);
  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

/* 💍 card */
.thankyou__content {
    width: 90%;
    max-width: 350px;
    height: 300px;
    padding: 16px 16px;
    border-radius: 16px;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url(/images/TY.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 🌫️ overlay */
.thankyou__content::before {
    content: "";
    position: absolute;
    inset: 0;
        background: rgb(253 250 247 / 77%);
    backdrop-filter: blur(2px);
    padding: 16px;
}
/* conteúdo por cima */
.thankyou__text,
.thankyou__button {
  position: relative;
  z-index: 1;
}

/* ✨ texto */
.thankyou__text {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #5c4b44;
  line-height: 1.6;
}

/* botão */
.thankyou__button {
    margin-top: 24px;
    padding: 10px 20px;
    border-radius: 20px;
    background: #d8a48f;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
}

.thankyou__button:hover {
  background: #c8937e;
}