.lista {
     min-height: 100vh;
    background-color: #fdfaf7;
    background-image: url(/images/imagem_fundo.png), url(/images/imagem_fundo.png);
    background-repeat: repeat-y, repeat-y;
    background-position: left top, right top;
    background-size: 300px, 280px;
    padding: 40px 20px;
    position: relative;
    max-width: 500px;
}

.lista::before {
  content: "";
  position: absolute;
  inset: 0;
background: rgba(253, 250, 247, 0.534);

  z-index: 0;
}
.lista__header,
.lista__grid {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
  gap: 16px;
}